<div class="container-fluid">

  <div class="row d-flex justify-content-center h-50 content-wrapper py-5">

    <div class="row justify-content-center">
      <h1 class="title text-center">Bienvenido a GESCOMPAH</h1>
    </div>

    <div class="row justify-content-center">
      <p class="subtitle text-center fw-bold">Gestión de Comprobantes de Pago y Horarios</p>
    </div>

    <div class="row justify-content-center">
      <p class="description text-center fw-medium">
        Optimiza la administración de tu negocio con nuestra plataforma centralizada.
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 row justify-content-between">
        <a routerLink="/auth/login" class="login-button col-md-5">Iniciar Sesión</a>
        <a routerLink="/auth/login" class="login-button col-md-5">Ver locales disponibles</a>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center py-5 gap-4">
    <div class="row justify-content-center">
      <h2 class="text-center text-green fw-bolder">Palermo, Huila</h2>
      <p class="text-center text-marmol fs-5">Tierra de tradición cafetera, cultura vibrante y oportunidades comerciales
      </p>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col row d-flex justify-content-start py-4 align-items-center">
        <h2 class="text-green fw-bolder py-2">Nuestra Historia</h2>
        <p class="text-marmol fs-5">
          <strong>Palermo</strong> es un municipio del departamento del Huila, Colombia,
          fundado en 1920 y ubicado estratégicamente en el valle del río Magdalena.
          Con una población de aproximadamente 35,000 habitantes,
          se ha consolidado como un importante centro agrícola y comercial de la región.<br>
          <br>
          Conocido por su <strong>tradición cafetera</strong> y la calidad excepcional de su café,
          Palermo ha desarrollado una economía diversificada que incluye agricultura,
          ganadería y un sector comercial en constante crecimiento.<br>
          <br>
          Nuestras <strong>plazas de mercado</strong> son el corazón económico y social de la comunidad, donde convergen
          comerciantes locales,
          agricultores y visitantes en un ambiente de tradición, modernidad y oportunidades de negocio.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <img class="imagen-local" src="../../../../..//public/404/edificio-destruido.png" alt="">
      </div>
    </div>
  </div>

  <div class="col-md-12 row d-flex justify-content-center pb-5">
    <div class="col d-flex justify-content-center px-2">
      <app-card-feature title="Tradición Cafetera"
        description="Reconocidos por la producción de café de alta calidad, con fincas familiares que mantienen tradiciones ancestrales de cultivo.">
        <div icon>
          <i class="fa fa-coffee" aria-hidden="true"></i>
        </div>
      </app-card-feature>
    </div>

    <div class="col d-flex justify-content-center px-2">

      <app-card-feature title="Ubicación Estratégica"
        description="Situado en el valle del río Magdalena, con acceso privilegiado a las principales vías de comunicación del departamento del Huila.">
        <div icon>
          <i class="fas fa-mountain"></i>
        </div>
      </app-card-feature>

    </div>

    <div class="col d-flex justify-content-center px-2">

      <app-card-feature title="Comunidad Unida"
        description="Una comunidad comprometida con el desarrollo sostenible, la preservación cultural y el crecimiento económico inclusivo.">

        <div icon>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>

      </app-card-feature>
    </div>

  </div>

  <div class="row d-flex justify-content-center py-5 bg-green">
    dsadadasd
  </div>

</div>
