:host {
  display: block;
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(-45deg, #0f2715, #204323, #5c642c); */
  /* background-color: #2E7D32; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 2rem;

}

.content-wrapper {
  background: linear-gradient(to right, #146530, #167339);
}

.title {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.login-button {
  display: inline-block;
  width: auto;
  max-height: 55px;
  text-align: center;
  padding: 15px 35px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background-color: #18812e;
  border: 1px solid #befdbe;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.login-button:hover {
  background-color: #00b35a;
  transform: translateY(-3px);
}

.premises-button{
  display: flex;
  width: auto;
  max-height: 55px;
  text-align: center;
  padding: 15px 35px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background-color: #eab308;
  border: 1px solid #befdbe;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.premises-button:hover {
  background-color: #fbbf24;
  transform: translateY(-3px);
}

.imagen-local {
  width: 90%;
  height: 100%;
  /* border: 1px #000 solid; */
  border-radius: 15px;
  display: block;
}

.text-green {
  color: #2E7D32;

}
.header {
  color: #fff;
}

.footer{
  background-color: #146530;
}

.footer h5{
  color: #fff;
}

.logo{
  min-width: 45px;
  max-width: 60px;
  min-height: 45px;
  max-height: 60px;
}

.text-gold{
  color: #eab308 !important;
}

.footer p,
.footer a,
.footer span,
.footer i
{
  font-size: 1rem;        
  font-weight: 500;       
  color: #c1e9d2;         
  opacity: 1;            
}

.footer a,
.footer i { 
  text-decoration: none;
}


.footer h5{
  margin-bottom: -2px;
}

.footer ul {
  padding-left: 0;
}

.footer .e ul li:hover a,
.footer .e ul li:hover i {
  color: #eab308 ;
}
