<div class="container-fluid">
  <div class="row d-flex justify-content-center h-50 content-wrapper py-5">
    <div class="row justify-content-center">
      <h1 class="title text-center">Bienvenido a GESCOMPAH</h1>
    </div>
    <div class="row justify-content-center">
      <p class="subtitle text-center">Gestión de Comprobantes de Pago y Horarios</p>
    </div>
    <div class="row justify-content-center">
      <p class="description text-center">
        Optimiza la administración de tu negocio con nuestra plataforma centralizada.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 row justify-content-between">
        <a routerLink="/Auth/login" class="login-button col-md-5">Iniciar Sesión</a>
        <a routerLink="/Auth/login" class="login-button col-md-5">Ver locales disponibles</a>
      </div>
    </div>
  </div>  
</div>
