<div class="container mt-4">

  <!-- Tabla de departamentos -->
  <app-generic-table
    [columns]="columns"
    [data]="departments$ | async"
    [showActionsColumn]="false"
    [createButtonLabel]="'Nueva Departamento'"
    [titulo]="'Departamentos'"
    [subTitulo]="'Gestione los departamentos'"
    (edit)="openEditDialog($event)"
    (delete)="handleDelete($event)"
    (create)="openCreateDialog()"
    />


  <ng-template #estadoTemplate let-row>
    <div class="d-inline-flex align-items-center gap-3 flex-nowrap">
      <span class="badge align-middle" [ngClass]="row.active ? 'badge-success--solid' : 'badge-warning'">
        {{ row.active ? 'Activo' : 'Inactivo' }}
      </span>

      <div *appHasRoleAndPermission="'Administrador'; perms: 'EDITAR'">
        <app-toggle-button-component
          class="align-middle"
          [checked]="!!row?.active"
          (changed)="onToggleActive(row, $event)"
          [size]="20"
          [onColor]="'#388E3C'"
          [offColor]="'#9CA3AF'"
          [thumb]="'#ffffff'"/>
      </div>

    </div>
  </ng-template>
</div>
