<div class="row d-flex justify-content-center">
  <app-generic-table
  *ngIf="columns"
  [data]="items$ | async"
  [columns]="columns"
  [titulo]="'Roles, Formularios y Permisos '"
  [subTitulo]="'Gestione sus Roles, Formularios y Permisos del sistema'"
  [createButtonLabel]="'Nuevo'"
  [showViewButton]="false"
  (edit)="onEdit($event)"
  (delete)="onDelete($event)"
  (view)="onView($event)"
  (create)="onCreateNew()"
>
</app-generic-table>


  <!-- Template para mostrar la lista de permisos -->
  <ng-template #permissionsTemplate let-row>
    <span *ngFor="let p of row.permissions" class="badge texto mr-1 ">
      {{ p.permissionName }}
    </span>
  </ng-template>

  <!-- Template para mostrar el estado (Activo/Inactivo) -->
<ng-template #estadoTemplate let-row>
  <div class="d-inline-flex align-items-center gap-3 flex-nowrap">
    <span class="badge align-middle" [ngClass]="row.active ? 'badge-success--solid' : 'badge-warning'">
      {{ row.active ? 'Activo' : 'Inactivo' }}
    </span>

    <div *appHasRoleAndPermission="'Administrador'; perms: 'EDITAR'">
      <app-toggle-button-component
        class="align-middle"
        [checked]="row.active"
        (changed)="onToggleActive(row, $event)"
        [size]="20"
        [onColor]="'#388E3C'"
        [offColor]="'#9CA3AF'"
        [thumb]="'#ffffff'">
      </app-toggle-button-component>
    </div>

  </div>
</ng-template>
</div>
