<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form-container">
    <div *ngFor="let field of fields" class="form-field-wrapper">
        <ng-container *ngIf="field.name !== 'id'">
            <mat-form-field *ngIf="field.type !== 'checkbox'" appearance="outline" class="full-width">
                <mat-label>{{ field.name | titlecase }}</mat-label>
                <ng-container [ngSwitch]="field.type">
                    <input matInput *ngSwitchCase="'text'" [formControlName]="field.name" type="text" />
                    <input matInput *ngSwitchCase="'date'" [formControlName]="field.name" type="date" />
                    <input matInput *ngSwitchCase="'hidden'" [formControlName]="field.name" type="hidden" />
                    <mat-select *ngSwitchCase="'select'" [formControlName]="field.name">
                        <mat-option value="">-- Seleccione --</mat-option>
                        <mat-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</mat-option>
                    </mat-select>
                    <textarea matInput *ngSwitchCase="'textarea'" [formControlName]="field.name"></textarea>
                </ng-container>
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    {{ field.name | titlecase }} es requerido.
                </mat-error>
            </mat-form-field>

            <mat-slide-toggle *ngIf="field.type === 'checkbox'" [formControlName]="field.name" color="primary">
                {{ field.name | titlecase }}
            </mat-slide-toggle>
        </ng-container>
    </div>
</form>