:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  color: #343a40;
}

h1 {
  font-size: 10rem;
  margin: 0;
  font-weight: 900;
  color: #ca8a04;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #6c757d;
}

.button {
  display: inline-block;
  width: 45vw;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #2E7D32;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #108115;
}

img{
  width: 150%;
  height: 100%;
}