<mat-tab-group (selectedIndexChange)="onTabChange($event)" *appHasRoleAndPermission="'Administrador'; perms: 'VER'">

  <mat-tab label="Actualiza tu información">
    <div class="tab-spacing">
      <app-profile-form></app-profile-form>
    </div>
  </mat-tab>

  <mat-tab label="finanzas">
    <div class="tab-spacing">
      <app-finance></app-finance>
    </div>
  </mat-tab>
  <mat-tab label="Ubicación">
    <div class="tab-spacing">
      <app-location-settings></app-location-settings>
    </div>
  </mat-tab>
  <mat-tab label="Seguridad">
    <div class="tab-spacing">
      <app-change-password></app-change-password>
    </div>
  </mat-tab>
</mat-tab-group>


<mat-tab-group (selectedIndexChange)="onTabChange($event)" *appHasRoleAndPermission="'Arrendador'; perms: 'VER'">

  <mat-tab label="Actualiza tu información">
    <div class="tab-spacing">
      <app-profile-form></app-profile-form>
    </div>
  </mat-tab>


  <mat-tab label="Seguridad">
    <div class="tab-spacing">
      <app-change-password></app-change-password>
    </div>
  </mat-tab>
</mat-tab-group>
