.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.info {
  margin-bottom: 1rem;
}

.info h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-color-black);
}

.info span {
  font-size: 0.875rem;
  color: var(--secondary-color);
}

.step-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.w-full {
  width: 100%;
}

.text-danger {
  color: var(--danger-color);
  font-size: 0.875rem;
  margin-top: 1rem;
  text-align: right;
}