<div class="container-fluid d-flex justify-content-center py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
        <!-- Logo -->
        <div class="col-4 text-center mb-4">
            <div class="mb-2">
                <img src="../../../../../..//public/Escudo-palermo.png" alt="Logo" class="imagen-logo">
            </div>
            <div class="row d-flex justify-content-center">
                <h2 class="text-green fw-bolder">GESCOMPAH</h2>
                <p class="text-marmol fs-5 fw-semibold myn-1">Sistema de Gestión Comercial</p>
                <p class="text-marmol fs-6 myn-1">Alcaldía de Palermo, Huila</p>
            </div>
        </div>

        <div class="col form p-4 border-green">
            <!-- Encabezado -->
            <div class="text-start mb-4 ">
                <h4 class="text-green fw-medium">Olvide mi Contraseña</h4>
            </div>

            <!-- Formulario -->
            <!-- <form [formGroup]="formLogin" (ngSubmit)="login()"> -->
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label texto fw-medium text-green">Correo Electrónico</label>
                    <input type="email" id="email" class="form-control border-green" formControlName="email"
                        placeholder="Correo Electrónico"
                        >
                    <!-- [class.is-invalid]="formLogin.get('email')?.invalid && formLogin.get('email')?.touched" -->
                    <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched"
                        class="invalid-feedback">
                        El correo es requerido y debe ser válido.
                    </div>
                </div>

                <!-- <div class="mb-3 text-end">
                    <a href="#" class="small link-secondary">¿Olvidaste tu contraseña?</a>
                </div> -->

                <button type="submit" class="btn btn-green w-100" >
                    <!-- [disabled]="formLogin.invalid" -->
                    Obtener Codigo
                </button>
            </form>
            <!-- <div class="header text-end">

                <p class="mb-0">
                    ¿No tienes cuenta?
                    <a href="#" class="link-primary">Regístrate</a>
                </p>
            </div> -->
        </div>
        <p class="lincese">
            © 2024 Alcaldía de Palermo, Huila. Todos los derechos reservados.
        </p>  
    </div>
    
</div>