<!-- Loading -->
<ng-container *ngIf="loading(); else content">
  <div class="d-flex justify-content-center mt-4">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

<!-- Contenido cuando NO está cargando -->
<ng-template #content>
  <app-generic-table
    [data]="squares()"
    [columns]="columns"
    titulo="Gestión de plazas comerciales"
    subTitulo="Administra las plazas comerciales del sistema"
    [showViewButton]="false"
    [showActionsColumn]="true"
    [createButtonLabel]="'Nueva Plaza'"
    (view)="onView($event)"
    (create)="onCreate()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)">
  </app-generic-table>
</ng-template>

<!-- Template para la columna 'Estado' -->
<ng-template #estadoTemplate let-row>
  <div class="d-inline-flex align-items-center gap-3 flex-nowrap">
    <span class="badge align-middle" [ngClass]="row.active ? 'badge-success--solid' : 'badge-warning'">
      {{ row.active ? 'Activo' : 'Inactivo' }}
    </span>

    <div *appHasRoleAndPermission="'Administrador'; perms: 'EDITAR'">
      <app-toggle-button-component
        class="align-middle"
        [checked]="!!row?.active"
        [disabled]="loading() || isBusy(row?.id)"
        (changed)="onToggleActive(row?.id, $event)"
        [size]="20"
        [onColor]="'#388E3C'"
        [offColor]="'#9CA3AF'"
        [thumb]="'#ffffff'">
      </app-toggle-button-component>
    </div>
  </div>
</ng-template>


