<mat-tab-group>
  <mat-tab label="Personas">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-person></app-person>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Usuarios">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-user></app-user>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Roles">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-role></app-role>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Formularios">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-form></app-form>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Módulos">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-module></app-module>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Permission">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-permission></app-permission>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Roles del Usuarios">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-rol-user></app-rol-user>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Formularios y Módulos">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-form-module></app-form-module>
      </div>
    </div>
  </mat-tab>


  <mat-tab label="Roles, Formularios y Permisos">
    <div class="custom-tab-content">
      <div class="tab-spacing">
        <app-rol-form-permission></app-rol-form-permission>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
