<div class="container-fluid">

  <div class="row d-flex justify-content-center h-50 content-wrapper py-5 header">
    <div class="row justify-content-center">
      <h1 class="title text-center">Bienvenido a <strong class="text-gold">GESCOMPAH</strong></h1>
    </div>
    <div class="row justify-content-center">
      <p class="subtitle text-center fw-semibold ">Gestión de Comprobantes de Pago y Horarios</p>
    </div>
    <div class="row justify-content-center">
      <p class="description text-center">
        Optimiza la administración de tu negocio con nuestra plataforma centralizada.
      </p>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-3 d-flex justify-content-center">
        <a routerLink="/establishments" class="premises-button">Ver locales disponibles</a>
      </div>
      <div class="col-sm-12 col-md-3 d-flex justify-content-center">
        <a routerLink="/auth/login" class="login-button">Iniciar Sesión</a>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center py-5 mx-1">
    <div class="row justify-content-center">
      <h2 class="text-center text-green fw-bolder">Palermo, Huila</h2>
      <p class="text-center text-marmol fs-5 text-marmol">Tierra de tradición cafetera, cultura vibrante y oportunidades
        comerciales
      </p>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col row d-block justify-content-center align-items-center">
        <h2 class="text-green fw-bolder py-5">Nuestra Historia</h2>
        <p class="text-marmol fs-5">
          <strong>Palermo</strong> es un municipio del departamento del Huila, Colombia,
          fundado en 1920 y ubicado estratégicamente en el valle del río Magdalena.
          Con una población de aproximadamente 35,000 habitantes,
          se ha consolidado como un importante centro agrícola y comercial de la región.<br>
          <br>
          Conocido por su <strong>tradición cafetera</strong> y la calidad excepcional de su café,
          Palermo ha desarrollado una economía diversificada que incluye agricultura,
          ganadería y un sector comercial en constante crecimiento.<br>
          <br>
          Nuestras <strong>plazas de mercado</strong> son el corazón económico y social de la comunidad, donde convergen
          comerciantes locales,
          agricultores y visitantes en un ambiente de tradición, modernidad y oportunidades de negocio.
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-center pt-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner imagen-local">
            <div class="carousel-item active">
              <img src="../../../../../..//public/lugares-turisticos/Megacolegio-Palermo.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../../..//public/lugares-turisticos/hospital.jpg" class="w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../../../..//public/lugares-turisticos/gruta-Santa-Rosalía.jpg" class="w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 row d-flex pb-3 d-flex justify-content-center gap mx-1">
    <div class="col-md-4 col-lg-4 col-sm-12 d-flex justify-content-center pb-3">
      <app-card-feature
        title="Tradición Cafetera"
        description="Reconocidos por la producción de café de alta calidad, con fincas familiares que mantienen tradiciones ancestrales de cultivo."
      >
        <div icon>
          <i class="fa fa-coffee" aria-hidden="true"></i>
        </div>
      </app-card-feature>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12 d-flex justify-content-center pb-3">
      <app-card-feature
        title="Ubicación Estratégica"
        description="Situado en el valle del río Magdalena, con acceso privilegiado a las principales vías de comunicación del departamento del Huila."
      >
        <div icon>
          <i class="fas fa-mountain"></i>
        </div>
      </app-card-feature>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12 d-flex justify-content-center pb-3">
      <app-card-feature
        title="Comunidad Unida"
        description="Una comunidad comprometida con el desarrollo sostenible, la preservación cultural y el crecimiento económico inclusivo."
      >
        <div icon>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
      </app-card-feature>
    </div>
  </div>

  <div class="seccion-locales">
    <div class="section-header">
      <h2 class="text-green fw-bolder">Nuestros Locales</h2>
      <a routerLink="/establishments"  class="ver-mas-link">Ver más</a>
    </div>

    <div class="contenedor-carrusel-wrapper">
      <button class="flecha flecha-izquierda"
        (click)="scrollCarrusel(-1)"
        [disabled]="!canScrollLeft">
        &#10094;
      </button>

      <div class="contenedor-carrusel" #carrusel>
        <div class="carrusel-locales">
          <div *ngFor="let establishment of items()" class="tarjeta-local mx-4">
            <app-card
              [local]="establishment"
              [showAvailableTag]="true"
              (onView)="onView($event)"
              (onCreateAppointment)="onCreateAppointment(establishment.id)"
            >
            </app-card>
          </div>
        </div>
      </div>

      <button class="flecha flecha-derecha" (click)="scrollCarrusel(1)" [disabled]="!canScrollRight">
        &#10095;
      </button>
    </div>
  </div>


  <div class="footer row d-flex justify-content-start gap py-3 px-1">
    <div class="row col-sm-12 col-md-3 gap-2">
      <div class="row">
        <div class="col-3 col-md-3">
          <img class="logo" src="/Escudo-palermo.png" width="60" height="60" alt="Escudo de Palermo" loading="lazy" decoding="async">
        </div>
        <div class="col-7 col-md-8">
          <h5>GESCOMPAH</h5>
          <p>sistema Oficial</p>
        </div>
      </div>
      <div class="row d-flex justify-content-start">
        <p>
          Sistema de Gestión Comercial de la Alcaldía de Palermo, Huila.
          Promoviendo el desarrollo económico local a través de la gestión transparente de espacios comerciales
          públicos.
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 e">
      <h5 class="fw-bold text-white pb-3">Enlaces Rápidos</h5>

      <ul class="list-unstyled mt-3">
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-building me-2"></i>
          <a routerLink="/locales" class="text-decoration-none">Locales Disponibles</a>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-calendar me-2"></i>
          <a routerLink="/citas" class="text-decoration-none">Solicitar Cita</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-12 col-md-3">
      <h5 class="fw-bold text-white pb-3">Servicios</h5>

      <ul class="list-unstyled mt-3">
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-building me-2 "></i>
          <span>Arriendo de Locales Comerciales</span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-file-alt me-2 "></i>
          <span>Gestión de Contratos</span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-calendar me-2 "></i>
          <span>Calendario de Pagos</span>
        </li>
        <li class="d-flex align-items-center py-2">
          <i class="fa fa-user me-2 "></i>
          <span>Soporte Técnico</span>
        </li>
      </ul>

    </div>
    <div class="col-sm-12 col-md-3">
      <h5>Contacto Directo</h5>

      <ul class="list-unstyled mt-3">
        <!-- Teléfono -->
        <li class="d-flex align-items-start py-2 c">
          <i class="fa-solid fa-phone me-3 text-gold"></i>
          <div>
            <p class="m-0 fw-bold text-white">(608) 837-5000</p>
            <span class="text-white-50">Ext. 101 - 102</span>
          </div>
        </li>

        <!-- Correo -->
        <li class="d-flex align-items-start py-2">
          <i class="fa fa-envelope me-3 text-gold"></i>
          <div>
            <p class="m-0 fw-bold text-white">gescompahpalermo-huila.gov.co</p>
            <span class="text-white-50">Respuesta en 24-48 horas</span>
          </div>
        </li>

        <!-- Dirección -->
        <li class="d-flex align-items-start py-2">
          <i class="fa-solid fa-map-marker-alt me-3 text-gold"></i>
          <div>
            <p class="m-0 fw-bold text-white">Carrera 5 # 4-30</p>
            <span class="text-white-50">Centro, Palermo - Huila</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
