<div class="header-container bg-primary">
  <div class="left-content">
    <button
      mat-icon-button
      (click)="toggleDrawer()"
      class="menu-button"
      aria-label="Menú"
    >
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>
    <div class="header-text">
      <h2 class="title">{{ displayTitle() }}</h2>
      <span class="description">{{ displayDescription() }}</span>
    </div>
  </div>

  <div class="right-content">
    <span class="user-label">{{ username() }}</span>
  </div>
</div>
