<div class="sidebar">
  <div class="header">
    <h3>GESCOMPAH</h3>
    <p>Palermo Locales</p>
  </div>

  <div class="menu">
    <mat-accordion>
      <mat-expansion-panel class="sidebar-expansion-panel" *ngFor="let item of menu()">
        <mat-expansion-panel-header>
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="item-label">{{ item.label }}</span>
        </mat-expansion-panel-header>

        <mat-nav-list class="submenu" *ngIf="item.children?.length">
          <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="submenu-label">{{ child.label }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="logout" (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon> Cerrar Sesión
  </div>
</div>
