<div class="container p-3 rounded shadow-sm bg-white alert-system">
    <h5 class="text-success mb-3 d-flex align-items-center">
        <i class="bi bi-exclamation-triangle-fill me-2"></i> <!-- Bootstrap Icons -->
        Alertas del Sistema
    </h5>

    <!-- 🔹 Cuando recibas el objeto por Input
  <app-alerta-card
    [titulo]="alerta.titulo"
    [descripcion]="alerta.descripcion"
    [tipo]="alerta.tipo"
    [accionTexto]="alerta.accionTexto">
  </app-alerta-card>
  -->

    <!-- 🔹 Mientras tanto con datos quemados -->
    <app-alert-card 
        *ngFor="let alerta of alertas" 
        class="mb-2"
        [title]="alerta.title" 
        [description]="alerta.description"
        [type]="alerta.type" [text]="alerta.text"
    >
    </app-alert-card>
</div>