html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

:root {
  --background-color: #F9FAFB;
  --primary-color: #BBF7D0;
  --secondary-color: #6B7280;
  --text-color-white: #FFFFFF;
  --text-color-black: #111827;
  --danger-color: #EF4444;
  --border-color: #d6dbe3;
  --text-color-light-gray: #6d6d6d;
  --accent-color: #16A34A;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 50px !important;
  line-height: 1;
  white-space: nowrap;
}

.badge-success {
  background: var(--primary-color);
  color: var(--text-color-black) !important;
  border: 1px solid var(--primary-color) !important;
}

.badge-secondary {
  background-color: var(--danger-color) !important;
  color: var(--text-color-white);
  border: 1px solid var(--border-color);
}

.text-marmol {
  color: var(--text-color-light-gray);
}

/* Estilo para botones de Material con color primario */
.mat-mdc-raised-button.mat-primary,
.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  background-color: var(--primary-color) !important;
  color: var(--text-color-black) !important;
}

.mat-mdc-button.mat-primary,
.mat-mdc-outlined-button.mat-primary,
.mat-mdc-icon-button.mat-primary {
  color: var(--primary-color) !important;
}