<mat-tab-group (selectedIndexChange)="onTabChange($event)" *appHasRoleAndPermission="'Administrador'; perms: 'VER'">
  <mat-tab label="Plaza">
    <div class="tab-spacing">
      <app-square-list></app-square-list>
    </div>
  </mat-tab>
  <mat-tab label="Establecimiento">
    <div class="tab-spacing">
      <app-establishments-list></app-establishments-list>
    </div>
  </mat-tab>
</mat-tab-group>

<app-establishments-list  *appHasRoleAndPermission="'Arrendador'; perms: 'VER'"></app-establishments-list>
