<div class="container">
  <div class="row d-flex justify-content-center gap-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-1 px-2">
        <h1>4</h1>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <img src="../../../../..//public/404/edificio-destruido.png" alt="" loading="lazy" decoding="async">
      </div>
      <div class="col-md-1 px-2">
        <h1>4</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <h2>Página No Encontrada</h2>
    </div>
    <div class="row d-flex justify-content-center">
      <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <button (click)="goBack()" class="button">Volver Atrás</button>
    </div>
    
  </div> 
</div>
