<div class="row d-flex justify-content-center">    
    <div class="row d-flex justify-content-between mb-3">
        <app-card-info
            class="col-md-3"
            title="Total de Plazas"
            [value]="9"
            [percentage]="75"
        >
            <div icon>
                <!-- <span class="material-icons-outlined card-icon">
                corporate_fare
                </span> -->
            </div>
        </app-card-info>
        <app-card-info
            class="col-md-3"
            title="Total de Locales"
            [value]="125"
            [percentage]="64"
        >
            <div icon>
                <!-- <span class="material-icons-outlined">
                storefront
                </span> -->
            </div>
        </app-card-info>
        <app-card-info
            class="col-md-3"
            title="Contratos Activos"
            [value]="23"
            [percentage]="75"
        >
            <div icon>
                <i class="fa-regular fa-file-lines card-icon"></i>
            </div>
        </app-card-info>
        <app-card-info
            class="col-md-3"
            title="Usuarios"
            [value]="250"
            [percentage]="100"
        >
            <div icon>
                <i class="fa-regular fa-user card-icon"></i>
            </div>
        </app-card-info>
    </div>
</div>